#section3 {
    width: 100vw;
    padding: 20px 20px 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.5;
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#section3 > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.language h2 {
    font-size: 1.5rem;
    font-weight: 500;
    width: 50vw;
    word-break: break-all;
}

#section3 ul {
    margin: 0 auto;
    list-style: none;
    width: 50vw;
}

#section3 h3 {
    text-align: right;
    color: #cccc;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#section3 h1 span{
    color: blue;
}

.language {
    display: flex;
    gap: 15px;
}

.language ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 3px;
}

.language ul li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}