#section3 {
    width: 100vw;
    padding: 20px 60px 100px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.5;
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#section3 > div {
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#section3 ul {
    list-style: none;
}

#section3 h3 {
    text-align: right;
    color: #cccc;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#section3 h1 span{
    color: blue;
}

.language {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.language ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.language ul li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }