nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    font-size: larger;
}

nav ul li {
    padding-bottom: 10px;
    cursor: pointer;
}

nav ul span {
    color: blue;
    opacity: 0.8;
    margin-right: 5px;
}

#menu {
    display: flex;
    flex-direction: column;
}

#menu div {
    width: 25px;
    background-color: black;
    height: 3px;
    margin-bottom: 4px;
}

#navigate {
    display: flex;
    padding: 40px;
}

#sidebar {
    position: absolute;
    top: 0;
    left: -160px;
    background-color: aqua;
    height: 100vh;
    padding: 40px;
}

@keyframes hide-show{
    from {
        left: -160px;
    }

    to {
        left: 0;
    }
}

.show {
    position: absolute;
    animation-name: hide-show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes show-hide{
    from {
        left: 0;
    }

    to {
        left: -160px;
    }
}

.hide {
    position: absolute;
    animation-name: show-hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@media (min-width:950px) {
    nav {
        width: 100vw;
        justify-content: flex-end;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: 900px;
    }
}