nav ul {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding: 40px;
    font-size: larger;
}

nav ul span {
    color: blue;
    opacity: 0.8;
    margin-right: 5px;
}

