#section1 {
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    gap: 50px;
    align-items: center;
}

#section1-div {
    width: 230px;
    height: 230px;
    border-right: 4px solid blue;
    border-top: 4px solid blue;
    position: relative;
}

#section1-img {
    width: 230px;
    height: 230px;
    position: absolute;
    left: -15px;
    top: 15px;
    padding: 1px;
}

#section1 h1 {
    max-width: 450px;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    line-height: 1.5;
}

#section1 h1 span {
    color: blue;
}