#section1 {
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    gap: 20px;
}

#section1-div {
    width: 230px;
    height: 230px;
    border-right: 4px solid blue;
    border-top: 4px solid blue;
    position: relative;
}

#section1-img {
    width: 230px;
    height: 230px;
    position: absolute;
    left: -15px;
    top: 15px;
    padding: 1px;
}

#section1 h1 {
    padding: 40px 15px 25px 15px; /* top right bottom left */
    max-width: 300px;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

#section1 h1 span {
    color: blue;
}

#section1 p {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    padding: 0 40px;
    font-size: larger;
    max-width: 600px;
}

#icons {
    padding-top: 20px;
}

#icons ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

#icons ul li {
    cursor: pointer;
}

#icons ul li:hover {
    scale: 1.1;
}

#button {
    margin: 15px 0;
    font-size: larger;
    text-decoration: none;
    background-color: blue;
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}

@media (min-width:951px) {
    #section1 {
        width: 100vw;
        padding: 60px 40px;
        display: grid;
        grid-template-columns: 30px 400px 300px;
        grid-template-rows: auto auto auto;
        gap: 50px;
        grid-template-areas: 
        "icon header image"
        "icon content content"
        "icon button button";
        justify-content: center;
        justify-items: normal;
    }    

    #section1-div {
        padding: 0;
        margin: 0;
        grid-area: image;
    }

    #section1 h1 {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        grid-area: header;
    }

    #section1 p {
        padding: 0;
        margin: 0;
        text-align: left;
        grid-area: content;
    }
    
    #icons {
        padding: 0;
        margin: 0;
        width: 0px;
        grid-area: icon;
        position: relative;
    }

    #icons::after {
        content: "";
        display: block;
        width: 3px; /* Adjust the width as desired */
        height: 150px; /* Adjust the height as desired */
        background-color: blue;
        position: absolute;
        top: 270px;
        left: 50%; /* Adjust the position as desired */
        transform: translateX(25px);
    }
    
    
    #icons ul{
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    
    #button {
        margin: 0;
        grid-area: button;
        width: 200px;
    }
}